google-auth==2.0.6
google-auth-oauthlib==0.4.5
google-auth-httplib2==0.1.0
googleapis-common-protos==1.53.0
langchain-community==0.4.1
langchain-groq==0.3.0
PyPDF2==1.26.0
python-dotenv==0.19.0
reportlab==3.6.5
youtube-transcript-api==0.4.1
Flask==2.0.2
